.topbar {
  display: flex;
  align-items: center;
  background-color: white;
  position: sticky;
  z-index: 999;
  top: 0;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  box-shadow: 1px 0px 2px rgba(172, 60, 60, 0.7);

  .topbar__left {
    flex: 3;
    display: flex;
    justify-content: center;
    .icon {
      margin-right: 20px;
      color: teal !important;
      cursor: pointer;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  .topbar__center {
    flex: 6;
  }
  .topbar__right {
    display: flex;
    align-items: center;
    flex: 3;

    .profile {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
    .search__icon {
      margin-left: 20px;
    }
  }
  .topbar__items {
    display: flex;
    justify-content: center;
    list-style: none;

    .topbar__list {
      cursor: pointer;
      color: rgb(61, 7, 7);
      margin-right: 40px;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
